.App {
  text-align: center;
  background-color: rgb(9, 49, 36);
  min-height: fit-content;
}





.App-header {
  background-color: #0a401f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #daa520;
  font-weight: bold;
}

